<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>audio-learning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let item of items">
        <ion-text>
          {{ item.id }}
        </ion-text>
        <ion-item class="ion-item" (click)="btnAudio(item.path)">
          <div>

            <ion-img [src]="item.image"></ion-img>
            <ion-text>
              {{ item.name }}
            </ion-text>
            <p>
              {{ item.description }}
            </p>
            
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
