.text-select {
    max-height: 400px;
    overflow-y: auto;
}


// ion-content {
//     -webkit-touch-callout: text !important;
//     -webkit-user-select: text !important;
//     -khtml-user-select: text !important;
//     -moz-user-select: text !important;
//     -ms-user-select: text !important;
//     user-select: text !important;
// }

// * {
//     -webkit-touch-callout: text !important;
//     -webkit-user-select: text !important;
//     -khtml-user-select: text !important;
//     -moz-user-select: text !important;
//     -ms-user-select: text !important;
//     user-select: text !important;
// }


// html.plt-mobile ion-app {
//     -webkit-user-select: text;
//     -moz-user-select: text;
//     -ms-user-select: text;
//     user-select: text;
// }

.selection-rectangle {
    position: absolute;
    border: 2px solid red;
    /* Adjust the border style as needed */
    background-color: blue;
    /* Adjust the background color as needed */
    padding: 5px;
    border-radius: 5px;
    z-index: 9999;
    /* Ensure the rectangle appears on top of other content */
}

.boxShowText {
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid silver;
    border-radius: 1%;
}

.boxShowText p {
    color: black;
    font-weight: bold;
    text-align: center;
}

.custom-modal {
    --height: 75%;
    --border-radius: 24px 24px 0 0;
}

.custom-modal::part(content) {
    position: fixed;
    bottom: 0;
}

.detail {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.detail div {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

// .vi-translation {
//     background-color: #f0f0f0;
//     /* Light gray background for Vietnamese translation */
// }

// .en-translation {
//     background-color: #e0e0e0;
//     /* Lighter gray background for English translation */
// }

// .chatgpt-translation {
//     background-color: #d0d0d0;
//     /* Even lighter gray background for ChatGPT translation */
// }